@mixin msg($col: orange) {
    border: 1px solid #ddd;
    border-radius: 5px;
    background: $col;
    font-size: 1rem;
    color: white;
    padding: 1rem 1.25rem;
    margin: 1em 0;
    display: inline-block;
    cursor: pointer;
   
  }

  
  .msg h1 {
    margin: 0 0 0.2em 0;
  }
  
  .msg {
    @include msg;
    &-info {
      background: green;
      &:hover {
        background: grey;
      }
    }
  }
  
  .msg-warning {
    background-color: yellow;
    color: black;
    &-hover {
      background: yellow;
    }
  }
  
  .msg-danger {
    background-color: red;
    color: black;
    &-hover{
        background: red;
    }
  }
  