body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: 
#f4f4f4;

}

  

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: 
white;
    border-radius: 5px;
    box-shadow: 0 0 10px 
rgba(0,0,0,0.1);
}

h2 {
    color: 
#333;
}
h2 {
    text-align: center;
  }
  
  .image-container {
    position: relative;
    text-align: center;
    margin-top: 20px;
  }
  
  #moving-image {
    max-width: 400px;
    display:block;
    margin-left: 38%;
   margin-top: 75px;
  }
  
  .buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
  }
  img{
    position: absolute;
  }
  .container{
    margin-top: 500px;
  }
  .btn-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
#scrolling-image{
  max-width:400px;
  margin-top:50px;
 
}

#container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 20px;
  width: 320px; 
  height: 320px;
}
#box {
  width: 300px;
  height: 300px;
  background-color: lightblue;
  position: relative;
}
#frog {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 75px;
  left: 75px;
  transition: all 0.5s ease-in-out;
}
  

/* Add specific styles for your sections, images, buttons, etc., here */