.img-fluid{
    padding-left: 50px;
    padding-top: 160px;
}
body{
    background-position: no-repeat;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media
    (max-width: 991px){
        .sidebar{
            background-color: rgba(255,255,255,0.15);
            backdrop-filter: blur(10px);
        }
    }
